@{
    Layout = null;
}
@model ERP.MVC.Areas.Admin.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang Đăng Nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @using (Html.BeginForm("Login", "Login",
                    FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    
                <div class="fields">
                    <span class="login100-form-title p-b-43">
                        Đăng Nhập
                    </span>
                    @Html.ValidationSummary(true, null, new { @class="alert alert-danger" })
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        @Html.TextBoxFor(model => model.username, new { @class = "input100", @type = "text" })
                        @*<input class="input100" type="text" name="username">*@
                        <span class="focus-input100"></span>
                        <span class="label-input100">Tên Đăng Nhập</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        @Html.TextBoxFor(model => model.password, new { @class = "input100", @type = "password" })
                        @*<input class="input100" type="password" name="pass">*@
                        <span class="focus-input100"></span>
                        <span class="label-input100">Mật Khẩu</span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                            @Html.CheckBoxFor(model => model.rememberMe, new { @class = "input-checkbox100" })
                            @*<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">*@
                            <label class="label-checkbox100" for="ckb1">
                                Nhớ Mật Khẩu
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">
                                Quên Mật Khẩu?
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Đăng Nhập
                        </button>
                    </div>

                    <div class="copyright">Copyright &copy; @DateTime.Now.Year Dương Nguyễn Tấn Hòa<br>Hệ Thống Quản Lý Sản Xuất</div>
                </div>
                }

                <div class="login100-more">
                    <img src="~/assets/images/ERP-Login.png" style="width:80%;" />
                </div>

            </div>
        </div>
    </div>
    <script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/assets/vendor/animsition/js/animsition.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/popper.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/select2/select2.min.js"></script>
    <script src="/assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="/assets/vendor/countdowntime/countdowntime.js"></script>
    <script src="/assets/js/main.js"></script>
    <script>
        var input = $('.validate-input .input100');
        if (input.val().trim() != "")
            input.addClass('has-val');
    </script>
</body>
</html>
